// Primary colours
$light_green: rgb(0, 190, 190);
$dark_green: rgb(0, 132, 180);
$white: #fff;

// Secondary colours
$darkblack: rgb(26, 26, 26);
$darkgrey: rgb(61, 61, 61);
$offwhite: rgb(245, 245, 245);

// breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
