*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Avenir", sans-serif;
}

.header {
  background-color: rgb(0, 190, 190);
  padding: 1rem 3rem;
}
@media screen and (min-width: 1280px) {
  .header {
    padding: 1rem 5rem;
  }
}
.header__logo {
  width: 10rem;
}
.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__wrapper {
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .header__wrapper {
    width: 123rem;
    margin: 0 auto;
  }
}

.nav {
  width: 100%;
  margin-top: 0.5rem;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .nav__list {
    justify-content: flex-end;
    font-size: 1.8rem;
  }
}
.nav__link {
  color: #fff;
  text-decoration: none;
}
.nav__link:hover {
  color: rgb(0, 132, 180);
}
@media screen and (min-width: 768px) {
  .nav__item:not(:last-child) {
    margin-right: 2.5rem;
  }
}

.footer {
  background-color: rgb(0, 190, 190);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    padding: 2rem 3rem;
    justify-content: space-between;
    align-items: end;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 2rem 5rem;
  }
}
.footer__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .footer__text {
    text-align: start;
    margin-bottom: 0;
  }
}
.footer__title {
  color: #fff;
  font-size: 2.4rem;
  margin-bottom: 0.5rem;
}
.footer__lewes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__copyright, .footer__licenced {
  color: rgb(245, 245, 245);
  font-size: 1.4rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright, .footer__licenced {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copyright, .footer__licenced {
    font-size: 1.4rem;
  }
}
.footer__lewes-logo {
  width: 10rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__lewes-logo {
    width: 9rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__lewes-logo {
    width: 7rem;
  }
}

.termshero {
  height: 30vh;
  background-image: url(./images/skodas.jpeg);
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 1280px) {
  .termshero {
    height: 50vh;
  }
}

.terms {
  margin: 3rem 3rem 0 3rem;
}
@media screen and (min-width: 1280px) {
  .terms {
    width: 120rem;
    margin: 3rem auto 0 auto;
  }
}
.terms__title {
  font-size: 2.2rem;
  color: rgb(26, 26, 26);
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .terms__title {
    font-size: 2.6rem;
  }
}
.terms__list {
  font-size: 1.6rem;
  color: rgb(61, 61, 61);
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .terms__list {
    font-size: 1.8rem;
  }
}

.policy {
  margin: 2rem 3rem 3rem 3rem;
}
@media screen and (min-width: 1280px) {
  .policy {
    width: 120rem;
    margin: 2rem auto 3rem auto;
  }
}
.policy__title {
  font-size: 2.2rem;
  color: rgb(26, 26, 26);
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .policy__title {
    font-size: 2.6rem;
  }
}
.policy__list {
  font-size: 1.6rem;
  color: rgb(61, 61, 61);
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .policy__list {
    font-size: 1.8rem;
  }
}/*# sourceMappingURL=terms.css.map */